@import url('http://fonts.cdnfonts.com/css/tuffy');
@import url('https://fonts.googleapis.com/css?family=Cherry Bomb');

:root {
    --marrom-claro: #8A5757;
    --marrom-medio: #695454;
    --marrom-escuro: #312424;
    --rosa-claro: #EABABA;
    --branco: #F5F5F5;
    --preto-transparente: #312424af;
    --preto: #312424;

    --tuffy: 'Tuffy', sans-serif;
    --cherry: 'Cherry Bomb', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p {
    font-family: var(--tuffy);
    font-size: 28px;
    color: var(--marrom-medio);
}

body {
    background-color: var(--rosa-claro);
}

header {
    padding: 30px 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 48px;
}

footer {
    background-color: var(--rosa-claro);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: bottom;
}

.cat {
    width: 100px;
}

.language {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.icons-header {
    font-size: 28px;
    color: var(--preto-transparente);
    margin-left: 10px;
}

.block {
    display: flex;
    justify-content: flex-end;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gps {
    font-size: 17px;
    color: #312424af;
    margin-left: 8px;
}

.location {
    font-size: 18px;
    padding-top: 30px;
}

.icons-socials {
    font-size: 35px;
    margin: 0 10px;
    text-decoration: none;
    color: var(--preto);
    font-weight: 800;
    transition: 0.8s;
    -webkit-text-stroke: 0.5px;
}

.icons-socials:hover {
    color: var(--marrom-claro);
    scale: 1.05;
    transition: 0.8s;
}

.icons-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 1024px;
    scroll-snap-align: center;
}

.block {
    margin-top: 80px;
}

.title-main-content {
    font-family: 'Cherry Bomb', sans-serif;
    font-size: 128px;
    color: var(--marrom-claro);
    margin: 0;
    line-height: 80%;
    padding-bottom: 30px;
}

.name {
    color: var(--marrom-claro);
}

.heartlink {
    text-decoration: none;
    font-weight: bold;
    color: var(--marrom-medio);
    transition: 0.8s;
}

.heartlink:visited {
    color: var(--marrom-medio);
}

.heartlink:hover {
    color: var(--marrom-claro);
    scale: 1.05;
    transition: 0.8s;
}

.mid-main-content {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    width: 600px;
}

.text-main-content {
    padding-bottom: 50px;
}

.bottom-main-content {
    display: flex;
    align-items: center;
}

.button-main-content:hover {
    color: var(--marrom-claro);
    transition: 0.8s;
    scale: 1.02;
}

.button-main-content {
    font-family: var(--tuffy);
    font-size: 22px;
    color: var(--marrom-medio);
    text-decoration: none;
    margin-right: 60px;
    transition: 0.8s;
}

.wavy-background {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}

.wavy {
    width: 150px;
}


.project-content {
    background-color: var(--marrom-claro);
    height: 1024px;
    left: 0;
    right: 0;
    padding-top: 100px;
    background-image: url(../svg/organic-shape1.svg);
    background-position: left -30px bottom -35px;
    background-repeat: no-repeat;
    scroll-snap-align: center;
}

.project-title {
    font-family: var(--cherry);
    font-size: 96px;
    color: var(--rosa-claro);
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    letter-spacing: 4px;
    padding-bottom: 100px;
}

.projects {
   display: flex;
   justify-content: space-around;
   margin: 0 180px;
}

.project-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.project-subtitle {
    font-family: var(--tuffy);
    font-weight: 700;
    color: var(--branco);
    font-size: 30px;
}

.project-text {
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.icons-repo {
    font-size: 34px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: var(--branco);
    transition: 0.8s;
    -webkit-text-stroke: 0.5px;
}

.icons-repo:hover {
    color: var(--rosa-claro);
    scale: 1.05;
    transition: 0.8s;
}

.icons-repo-text {
    font-family: var(--tuffy);
    color: var(--branco);
    font-size: 20px;
    
}

.project-wm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 170px;
    padding-top: 30px;
    cursor: pointer;
}

.studying-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.studying-text {
    opacity: 50%;
    font-size: 20px;
    color: var(--branco);
}

.about-me {
    padding-left: 200px;
    background-image: url(../svg/organic-shape2.svg);
    background-position: right -30px bottom -130px;
    background-repeat: no-repeat;
    background-size: 1050px 1050px;
    scroll-snap-align: center;
    width: 1750px;
}

.about-me-title {
    font-family: var(--cherry);
    font-size: 96px;
    color: var(--marrom-claro);
    display: flex;
    justify-content: flex-start;
    letter-spacing: 4px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-me-content {
    height: 824px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 150px;
}

.about-me-text {
    width: 600px;
    margin-right: 100px;
}

.about-me-text > p > b {
    color: var(--marrom-claro);
}

.second-text {
    display: flex;
    align-self: flex-end;
}

.second-text > p {
    color: var(--branco);
}

.second-text > p > b {
    color: var(--rosa-claro);
}

.community-title {
    font-family: var(--cherry);
    font-size: 96px;
    color: var(--rosa-claro);
    letter-spacing: 4px;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.community {
    background-color: var(--marrom-claro);
    scroll-snap-align: center;
}

.community-content {
    height: 560px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 700px;
    padding-left: 400px;
}

.community-text {
    width: 1000px;
    margin-right: 100px;
}

.community-text > p {
    color: var(--branco);
}

.community-text > p > b {
    color: var(--rosa-claro);
}

.community-second-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.community-second-text p {
    font-size: 26px;
}

.footer-text {
    font-size: 16px;
    color: var(--marrom-medio);
}