@import '@fontsource/rubik/400.css';
@import '@fontsource/rubik/500.css';
@import '@fontsource/rubik/700.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/700.css';

body {
  background-image: url('src/assets/images/light-bg.png');
  background-size: 33.79px 33px;
  background-repeat: repeat;
  background-position: top left;
  padding: 0;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;
}